/* Sharing option------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.p-btn{
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    margin: 10px 0;
}
.p-p{
    color: #727272;
    line-height: 26px;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}

/*  nav-----------------------*/
header{
    padding: 20px 150px;
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
    padding: 8px 12px;
    border: 1px solid tomato;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}

/* header Banner ------------------*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 20px 0;
}
.banner-content h1{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}
.banner img{
    width: 100%;
}

/*------------Main-------*/
main{
    max-width: 1050px;
    margin: 40px auto;
}
.fiture{
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.fiture-content{
    width: 50%;
    padding-right: 50px;
}.fiture-content h1{
    font-size: 2.8rem;

}
.Quick-list{
    color: #727272;
    font-weight: 500;
}
.Features{
    color: #FF900E;
    font-weight: 700;
}

.fiture-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin: 50px;
    width: 50%;
}
.fiture-pic img{
    width: 100%;
}

/* feauture css section */
.feauture-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
}
.feauture-content{
    width: 50%;
}
.feauture-h1{
    color: #131313;
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 20px;
    border-left: 3px solid #FF900E;
}
.content-container div{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 10px 0;
    padding: 10px 20px 5px 20px;
}
.content-container h1{
   color: #131313;
   font-size: 1.25rem;
   font-weight: 600;
}
.feauture-img{
    width: 50%;
}
.feauture-img img{
    width: 100%;
}
.expariense{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 90px;
    right: 70px;
}
.expariense h1{
    color: #FFF;
    font-size: 4rem;
    margin: 0;
}
.expariense p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

/* facts section */

.facts-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
}
.facts-container div{
    border: 1px solid #FF900E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px 0;

}
.facts h1{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 600;
}
.facts-container h1{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
}

/* ==========Sponsors */

.sponsors{
    text-align: center;
    padding: 40px 0;
 }
 .sponsors-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
 }

 /* ==========Footer section */

    footer{
        max-width: 1050px;
        background-color: #FFF4E7;
        margin: 50px auto;
        padding: 20px 0;
        text-align: center;
    }
    footer p{
        color: #424242;
        font-size: 1.25rem;
        font-weight: 400;
    }

/*-============ MOBILE VIEW responsible--------------*/
@media screen and (max-width: 640px) {
    header{
        padding: 20px;
    }
    nav, .fiture, .feauture-container,
    .facts-container,
    .sponsors-container{
        flex-direction: column;
        gap: 10px;
    }
    .fiture-pic{
        grid-template-columns: repeat(1, 1fr);
    }
    .fiture-content,
    .feauture-content,
    .feauture-img,
    .fiture-pic
    .facts{
        width: 90%;
        margin: 0 auto;
    }
    .facts{
        padding: 0 20px;
    }
    .fiture-content
    {
        padding: 5px;
    }
    .expariense{
        right: 10px;
    }
   
}


/*-==============tablat view responsible=========*/
@media screen and (min-width: 640px) and (max-width: 960px) {
    header{
        padding: 20px 50px;
    }
    .fiture-content, .fiture-pic,
    .feauture-content,
    .feauture-img{
        width: 75%;
    }
    .fiture{
        flex-direction: column-reverse;
    }
    .facts-container div{
        width:auto;
        padding: 50px;
    }
    .facts-container,
    .sponsors-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    nav,
    .feauture-container
    {
        flex-direction: column;
        gap: 20px;
    }
    .feauture-content,
    .feauture-img,
    .facts,
    .sponsors{
        width: 80%;
        margin: 0 auto;
    }
}